.card {
  border: 1px solid #e0e0e0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  transform: translateY(20px);
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    opacity 1.2s ease,
    transform 1.2s ease;
}

.mediaWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #0a1628;
  overflow: hidden;
}
.card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* img와 video를 같은 위치에 놓고
평소엔 img가 보이도록, video는 투명으로 안보이지만 백그라운드에서는 재생 준비 및 재생 중
호버하면 반대로 video가 보여서 img가 사라지도록 */
.posterImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 1px solid rgb(223, 223, 223);
  transition: opacity 0.2s ease;
}

.videoMedia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;

  transition: opacity 0.2s ease;
}

.info {
  padding: 20px 0;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 6px;
  overflow-wrap: break-word;
}
.type {
  font-size: 15px;
  color: #888;
  display: block;
  margin-bottom: 18px;
}

.subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  overflow-wrap: break-word;
}
